SLACK_TOKEN=<SET_THIS>
SLACK_SIGNING_SECRET=<SET_THIS>
INCIDENT_CHANNEL_NAME=incidents
INCIDENT_BOT_NAME=incident
DB_HOST=<SET_THIS>
DB_NAME=<SET_THIS>
DB_USER=<SET_THIS>
DB_PORT=<SET_THIS>
DB_SSL_MODE=<SET_THIS>
DB_PASSWORD=<SET_THIS>
SITE_URL=<SET_THIS>
DJANGO_SETTINGS_MODULE=demo.settings.prod
SECRET_KEY=<SET_THIS>
STATUS_PAGE=<SET_THIS>
STATUS_PAGE_RUNBOOK_URL=<SET_THIS>
RUNBOOKS_URL=<SET_THIS>
PAGERDUTY_ENABLED="False"
ENCRYPTED_FIELD_KEY=<SET_THIS>
ADMIN_USER=<SET_THIS>
ADMIN_PASS=<SET_THIS>