SLACK_TOKEN=<SET_THIS>
SLACK_SIGNING_SECRET=<SET_THIS>
INCIDENT_CHANNEL_NAME=incidents
INCIDENT_BOT_NAME=incident

SECRET_KEY="5m*pc(gb!k+!913@qh2u5z7^s-bbp2ytw28gdvcbly5ayw1i5+"

DJANGO_SETTINGS_MODULE=demo.settings.prod
