SLACK_TOKEN=<SET_THIS>
SLACK_SIGNING_SECRET=<SET_THIS>
INCIDENT_CHANNEL_NAME=incidents
INCIDENT_BOT_NAME=incident

SECRET_KEY="5m*pc(gb!k+!913@qh2u5z7^s-bbp2ytw28gdvcbly5ayw1i5+"

STATUS_PAGE="https://google.com"

STATUS_PAGE_RUNBOOK_URL="http://google.com"
RUNBOOKS_URL="https://google.com"
PAGERDUTY_ENABLED="False"
ENCRYPTED_FIELD_KEY="<SET_THIS>"

ADMIN_USER=admin
ADMIN_PASS=s^Rjty/x#3}&NTu2